.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: white;
  padding: 1rem 2rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}

.navbar button {
  background-color: #b68f5c;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}