@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700..900&family=Poppins:wght@400;500;600;700&display=swap');

:root{
  --na-brown:#3d1f1f;
  --na-accent:#a86556;
  --na-bg:#f7f0ef;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


